<!-- Developers#index

<% @developers.each do |dev| %>
  <p>
    Name: <%= link_to dev.name, "/team/#{dev.name}" %><br>
    Email: <%= dev.email %><br>
    Salary: <%= dev.salary %><br>
    <span class="skills">Skills:</span><br>
    <span class="skills-list"><% dev.skills.each do |skill| %>
      Name: <%= skill.name %><br>
      
      <% @dev_skill = Developerskill.where({developer_id: dev.id, skill_id: skill.id}) %>
      Proficiency Level: <%= @dev_skill.first.level %><br>
    <% end %>
    </span>
  </p>
<% end %> -->

<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"> </li>
            <li><strong><a href="#">Dashboard </a></strong></li>
            <li><strong><a href="#">Staff </a></strong></li>
            <li><strong><a href="#">Skills </a></strong></li>
        </ul>
    </div>
    <div class="page-content-wrapper">
        <div class="container-fluid">
            <div class="row"></div>
        </div>
    </div>
</div>
