Developers#index

<% @developers.each do |dev| %>
  <p>
    Name: <%= link_to dev.name, "/team/#{dev.name}" %><br>
    Email: <%= dev.email %><br>
    Salary: <%= dev.salary %><br>
    <span class="skills">Skills:</span><br>
    <span class="skills-list"><% dev.skills.each do |skill| %>
      Name: <%= skill.name %><br>
      
      <% @dev_skill = Developerskill.where({developer_id: dev.id, skill_id: skill.id}) %>
      Proficiency Level: <%= @dev_skill.first.level %><br>
    <% end %>
    </span>
  </p>
<% end %>