<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"> </li>
            <li><strong><%= link_to "Dashboard", profile_path %></strong></li>
            <li><strong><%= link_to "Staff", devs_path %></strong></li>
            <li><strong><%= link_to "Skills", skills_path %></strong></li>
        </ul>
    </div>
</div>
<div class="page-content-wrapper">
    <div class="container-fluid dashboard-order">
        <div class="row">
            <div class="col-md-4 col-md-offset-0">
              <h1>Developers#show</h1>
              <p>
                Name: <%= @developer.name %><br>
                Email: <%= @developer.email %><br>
                Salary: <span>$</span><%= @developer.salary %><br>
                <span class="skills">Skills:</span><br>
                <span class="skills-list"><% @developer.skills.each do |skill| %>
                  Name: <%= skill.name %><br>

                  <% @dev_skill = Developerskill.where({developer_id: @developer.id, skill_id: skill.id}) %>
                  Proficiency Level: <%= @dev_skill.first.level %><br>
                <% end %>
                </span>
                <%= link_to("Edit", "/team/#{@developer.name}/edit", class: 'btn btn-info') %> <%= link_to("Delete", "/team/#{@developer.name}", :method => :delete, data: {confirm: "Are you sure you want to delete #{@developer.name}?"}, class: 'btn btn-danger') %>
              </p>
            </div>
        </div>
    </div>
</div>
