<%= @project.title %><br>
<%= @project.deadline %><br>
<br>
<strong>Tasks:</strong><br>
<% @tasks.each do |task| %>

  <%= task.title %><br>
  <%= task.deadline %><br>
  Required Skills:
  <% task.skills.each do |skill| %>
      <%=skill.name%>
  <% end %>
  <div class="">
    Developer: <%=task.developer.name%>
  </div><br>
<% end %>

<h3>
  Time needed to complete this task:
<%= @max_time_in_days %> Days and
<%= @max_time_hours %> Hours
</h3>
