<%= @project.title %><br>
<%= @project.deadline %><br>
<br>
<strong>Tasks:</strong><br>
<% @tasks.each do |task| %>

  <%= task.title %><br>
  <%= task.deadline %><br>
  Required Skills:<br>
  <% task.skills.each do |skill| %>
      <% if Developerskill.where({skill_id: skill.id}) != nil %>
        <% Developerskill.where({skill_id: skill.id}).each do |devskill| %>
        <% if task.developer %>
        <%= task.developer.name %>,
        <% end %>
        <%= skill.name %>, <%= devskill.level %><br>
        <% end %>
      <% end %>
  <% end %>
  <br>
<% end %>

<h3>
  Time needed to complete this task:
<%= @max_time_in_days %> Days and
<%= @max_time_hours %> Hours
</h3>
