<%= @project.title %><br>
<%= @project.deadline %><br>
<br>
<strong>Tasks:</strong><br>
<% @tasks.each do |task| %>
  <%= task.title %><br>
  <%= task.deadline %><br>
  Required Skills:
  <% task.skills.each do |skill| %>
      <%=skill.name%>
  <% end %>
  <div class="">
    Developer: <%=task.developer.name%>
  </div><br>
<% end %>
