<h1>Signup!</h1>

<%= form_for :manager, url: '/managers' do |f| %>

  Email: <%= f.text_field :email %>
  First Name: <%= f.text_field :name %>
  Last Name: <%= f.text_field :last %>
  Company: <%= f.text_field :company %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <%= f.hidden_field :image, :value => "http://i.imgur.com/en3Tpt6.png" %>
  <%= f.submit "Submit", class: "btn btn-danger" %>

<% end %>
