<h1>Signup!</h1>

<%= form_for :manager, url: '/managers' do |f| %>

  Email: <%= f.text_field :email %>
  First Name: <%= f.text_field :name %>
  Last Name: <%= f.text_field :last %>
  Company: <%= f.text_field :company %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <%= f.submit "Submit" %>

<% end %>
