<div class="register-photo">
    <div class="form-container">
        <div class="image-holder">
          <img class="img-responsive signup-img" src="http://i.imgur.com/pvslEVd.png">
        </div>
        <%= form_for :manager, url: '/managers', class: 'form-control' do |f| %>
            <h2 class="text-center"><strong>CREATE AN ACCOUNT</strong></h2>
            <div class="form-group">
              <%= f.text_field :name, placeholder: 'First Name', class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.text_field :last, placeholder: 'Last Name', class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.text_field :company, placeholder: 'Company', class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.text_field :email, placeholder: 'Email', class: 'form-control' %>
            </div>
            <div class="form-group">
                <%= f.password_field :password, placeholder: 'Password', class: 'form-control' %>
            </div>
            <div class="form-group">
                <%= f.password_field :password_confirmation, placeholder: 'Confirm Password', class: 'form-control' %>
            </div>
            <div class="form-group">
                <%= f.submit("Sign Up", class: "btn btn-primary btn-block") %>
            </div>
            <%= link_to("You already have an account? Login here.", '/login', class: 'navbar-link login') %>
            <hr>
            <center><a href="www.github.com"><i class="fa fa-github signup-github"></i></a></center>
            <p><center>Sign up with your GitHub account!</center></p>
            <!-- <button class="btn btn-primary btn-block" type="submit">GitHub</button> -->
        </form>
        <% end %>
    </div>
</div>
