<%= render partial: '/partials/userinfo' %>

Projects:<br>
<% @projects.each do |project| %>
  <p>
    <%= link_to project.title, project_path(project.title) %><br>
    <%= project.deadline %><br>
    <%= project.description %><br>
  </p>
<% end %>

  <%=button_to "Add New Skill", new_skill_path, method: :get, class: "btn btn-info"%>
  <br>
  <%=button_to "Add New Developer", new_dev_path, method: :get, class: "btn btn-info"%>
  <br>
  <%=button_to "Add New Project", new_project_path, method: :get, class: "btn btn-info"%>
