<h1><%= @manager.name %></h1>

<%= link_to('Add Project', new_project_path, class: 'btn btn-primary') %>
<%= link_to('Add Developer', new_dev_path, class: 'btn btn-info') %>

<br>

Projects:<br>
<% @projects.each do |project| %>
  <p>
    <%= link_to project.title, project_path(project.title) %><br>
    <%= project.deadline %><br>
    <%= project.description %><br>
  </p>
<% end %>
