<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"> </li>
            <li><strong><%= link_to "Dashboard", profile_path %></strong></li>
            <li><strong><%= link_to "Staff", devs_path %></strong></li>
            <li><strong><%= link_to "Skills", skills_path %></strong></li>
        </ul>
    </div>
</div>
<div class="page-content-wrapper">
  <div class="container-fluid dashboard-order">
    <div class="row">
      <div class="col-md-offset-1">
        <%=button_to "Add New Skills", '/skills/new', method: :get, class: "btn btn-info btn-sm", form: {style: 'display:inline-block;'}%>
        <br>
        <% @skills.each do |skill| %>
        <div style="float:left; margin: 10px 10px; border: 1px solid grey">
          <p>Skill: <%= link_to skill.name, "/skills/#{skill.name}" %></p><br><br>
          <p>Description: <%= skill.description%></p><br><br>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
