<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"> </li>
            <li><strong><%= link_to "Dashboard", profile_path %></strong></li>
            <li><strong><%= link_to "Staff", devs_path %></strong></li>
            <li><strong><%= link_to "Skills", skills_path %></strong></li>
        </ul>
    </div>
</div>
<div class="page-content-wrapper">
  <div class="container-fluid dashboard-order">
    <h1>This is new.html from skills controller</h1>
    <%= form_for @skill do |f| %>
    <hr>
    <br>
    <br>
    <span>Name: </span>
    <%= f.text_field :name %>
    <br>
    <br>
    <span class="description">Description: </span>
    <%= f.text_area :description %>
    <br>
    <br>
    <%= f.submit(class: 'btn btn-success') %>
    <% end %>
  </div>
</div>
