<h1>Projects#show</h1>
<p>Find me in app/views/projects/show.html.erb</p>

Project Title: <%= @project.title %><br>
Project Deadline: <%= @project.deadline %><br>
Project Description: <%= @project.description %><br>
Project Tasks:
<% @project.tasks.each do |task| %>
  <%= task.title %><br>
  Required Skills: 
  <% task.skills.each do |skill| %>
    <%= skill.name %>
  <% end %>
<% end %>

