<!DOCTYPE html>
<html>
  <head>
    <title>KaizenApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-header">
        <%= link_to('Kaizen', root_path, class: 'navbar-brand') %>
      </div>
      <div class="nav-btns pull-right">
        <% if current_manager %>
          <%= link_to('Signed in as ' + current_manager.name, profile_path, :method => :get, class: 'btn btn-success nav-btn') %> <%= link_to("Logout", logout_path, :method => :get, class: 'btn btn-success nav-btn') %>
        <% else %>
          <%= link_to('Login', login_path, :method => :get, class: 'btn btn-success nav-btn') %> <%= link_to('Signup', signup_path, :method => :get, class: 'btn btn-success nav-btn') %>
        <% end %>
      </div>
    </nav>

    <div class="jumbotron clearfix">
      <div class="container">
      <!-- <% flash.each do |name, msg| %>
        <div class="error-message">! <%= msg %> !</div>
      <% end %> -->

      <%= yield %>
      </div>
    </div>
  </body>
</html>
